html, body {
    font-family: 'Fira Sans', 'Cambria', serif;
    font-size: 18pt;
    color: rgb(236, 244, 248);
    background-color: rgb(12, 18, 20);
}

h1, h2, h3 {
    font-weight: 600;
    text-align: center;
    width: 100%;
}

h1 {
    font-size: 5em;
}

h2 {
    font-size: 3.5em;
}

h3 {
    font-size: 2em;
}

section, chapter {
    display: block;
}

chapter {
    max-width: 1000px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -1px;
    margin-bottom: -1px;
    padding-left: 24px;
    padding-right: 24px;

    border-bottom-width: 2px;
    border-top-width: 2px;
    border-radius: 16px;
    border-bottom-style: solid;
    border-top-style: solid;
    border-color: rgba(200, 210, 220, 0.15);

    padding-top: 3.25em;
    padding-bottom: 3.25em;
}

chapter.first {
    padding-top: 0.4em !important;
}

chapter.last {
    padding-bottom: 0.33em !important;
}

section {
    margin-bottom: 1.66em;
}

section.last {
    margin-bottom: 0em !important;
}

section p {
    white-space: pre-line;
}

.dream {
    color: rgb(200, 204, 208);
    font-style: italic;
    font-weight: 300;
}

.narrative {
    color: rgb(216, 224, 228);
    font-style: normal;
    font-weight: 300;
}

.speech {
    font-style: normal;
    font-weight: 400;
}

.internal {
    font-style: normal;
    font-weight: 300;
}

.speech:before {
    content: "\""
}

.speech:after {
    content: "\""
}

.green {
    color: rgb(30, 205, 75);
}

.red {
    color: rgb(205, 25, 45);
}